<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test socket</title>
</head>
<body>
    <form action="/testReport" method="post">
        <input name="STATS.2.running_state" type="text"/>
        <br/>
        <input name="STATS.3.total_generated" type="text"/>
        <br/>
        <input name="STATS.4.total_reactive" type="text"/>
        <br/>
        <input name="STATS.5.total_consume" type="text"/>
        <br/>
        <input value="Submit" type="submit"/>
        <br/>
    </form>
</body>
</html>